<md-card class="mails-list__card">
  <md-spinner *ngIf="!currentPage"></md-spinner>
  <div class="mail controls">
    <div class="controls__left">
      <div class="mail__checkbox controls__checkbox">
        <md-checkbox [(ngModel)]="allMailsSelected" (change)="toggleAllMails()">
        </md-checkbox>
      </div>
      <button md-button (click)="deleteMails()" class="controls__delete-button">Delete selected mails</button>
      <md-input-container class="controls__search-bar">
        <input mdInput placeholder="Search" type="text" [(ngModel)]="queryText" [formControl]="searchQuery">
      </md-input-container>
    </div>
    <div class="controls__right">
      <button md-button (click)="showNewMailForm()">Create a new mail</button>
    </div>
  </div>
  <md-nav-list *ngIf="currentPage">
    <md-list-item *ngFor="let mail of currentPage.list" class="mail">
      <md-checkbox [(ngModel)]="selectedMails[mail.id]" class="mail__checkbox">
      </md-checkbox>
      <a [routerLink]="[mail.id]">
        <span class="mail__from">{{ mail.from }}</span>
        <span class="mail__subject">{{ mail.subject }}</span>
        <span class="mail__body">{{ mail.body }}</span>
      </a>
    </md-list-item>
  </md-nav-list>
  <md-paginator
    [length]="mailsAmount"
    [pageSize]="pageSize"
    [pageSizeOptions]="[5, 10, 25, 100]"
    (page)="changePage($event)">
  </md-paginator>
</md-card>