<div class="mails-list__root">
  <md-card class="mails-list__card">
    <md-spinner *ngIf="!mails"></md-spinner>
     <div class="mail controls">
      <md-checkbox [(ngModel)]="allMailsSelected" (change)="toggleAllMails()" class="mail__checkbox">
      </md-checkbox>
      <button md-button (click)="deleteMails()">Delete selected mails</button>
      <md-input-container class="controls__search-bar">
        <input mdInput placeholder="Search" type="text" [formControl]="searchQuery">
      </md-input-container>
     </div>
     <md-nav-list *ngIf="mails">
      <md-list-item *ngFor="let mail of mails" class="mail">
        <md-checkbox [(ngModel)]="selectedMails[mail.id]" class="mail__checkbox">
        </md-checkbox>
        <a [routerLink]="['./mails', mail.id]">
          <span class="mail__from">{{ mail.from }}</span>
          <span class="mail__subject">{{ mail.subject }}</span>
          <span class="mail__body">{{ mail.body }}</span>
        </a>
      </md-list-item>
    </md-nav-list>
  </md-card>
</div>
