.mails-list__card {
  width: 80vw;
  margin: auto;
}

.controls {
  align-items: space-between;
}

.controls__left {
  flex-direction: row;
  display: flex;
  align-items: center;
  flex: 80%;
}

.controls__checkbox {
  text-align: center;
}

.controls__delete-button {
  margin-right: 10px;
}

.controls__search-bar {
  flex: 50%;
}

.controls__right {
  flex: 20%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}


.mail {
  display: flex;
  flex-direction: row;
  margin: auto;
}

.mail__checkbox {
  margin: 5px;
  flex: 5%;
  flex-grow: 0;
  flex-shrink: 0;
}

.mail__from {
  flex: 15%;
  font-weight: bold;
}

.mail__subject {
  flex: 30%;
  font-weight: bold;
}

.mail__body {
  flex: 50%;
  text-overflow: ellipsis;
}